@media screen and (max-width: 1920px){
    html{
         font-size:32px;
     }
    /*body{*/
        /*width:1920px;*/
        /*height:1080px;*/
    /*}*/

}

@media screen and (max-width: 3840px){
    html{
        font-size:64px;
    }
    /*body{*/
        /*width:3840px;*/
        /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 1366px){
    html{
        font-size:23px;
    }
    /*body{*/
        /*width:1366px;*/
        /*height:768px;*/
    /*}*/

}

@media screen and (max-width: 1280px){
    html{
        font-size:21.33px;
    }
    /*body{*/
        /*width:720px;*/
        /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 1024px){
    html{
        font-size:17px;
    }
    /*body{*/
    /*width:720px;*/
    /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 768px){
    html{
        font-size:12.8px;
    }
    /*body{*/
        /*width:3840px;*/
        /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 480px){
    html{
        font-size:8px;
    }
    /*body{*/
        /*width:3840px;*/
        /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 375px){
    html{
        font-size:6.25px;
    }
    /*body{*/
        /*width:3840px;*/
        /*height:2160px;*/
    /*}*/

}
@media screen and (max-width: 360px){
    html{
        font-size:6px;
    }
    /*body{*/
    /*width:3840px;*/
    /*height:2160px;*/
    /*}*/

}

@media screen and (max-width: 320px){
    html{
        font-size:5.33px;
    }
    /*body{*/
        /*width:3840px;*/
        /*height:2160px;*/
    /*}*/

}
*{
    margin: 0;
    padding:0;
}
body{
    background: #db8c8c;
}
.bannerImg{
    width:100%;
    height: 40rem;
}

/*  *********** header ******* */

.header{
    padding-left: 2rem;
    padding-right:2rem;
    padding-top: 2rem;
}
.header .timeWrapper{
    width:100%;
    height: 3rem;
    background: #fff8c1;
    font-size: 2.1rem;
}
.header .timeWrapper .icon{
    display: inline-block;
    color: #a90fff;
    width:5rem;
    background: #000;
    height: 2.5rem;
}
.header .timeWrapper .time{
    display: inline-block;
    height:2.5rem;
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    border-radius: 0.5rem;
    background: #ffcedf;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: #ff614e;
}

.header .timeWrapper .end{
    background: none;
}

/*  *********** content ******* */

.content{
    padding: 4rem 2rem;
}

.content .searchWrapper{
    height:6rem;
}
.content .searchWrapper .searchText{
    display: inline-block;
    width: 32rem;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #89919b;
    font-size: 2.5rem;
}
.content .searchWrapper .searchBtn{
    display: inline-block;
    width: 15rem;
    height: 100%;
    background: #393a9b;
    float: right;
}

.content .contestantWrapper{
    width:100%;
    height:auto;
    background: #ff614e;
    margin-top:2rem;
}

.content .contestantWrapper .contestant{
    position: relative;
    display: inline-block;
    width:27rem;
    height: 35rem;
    background: #a90fff;
    float: left;
    -webkit-background-size:;
    background-size: 100% 100%;
}

.content .contestantWrapper .contestant .contestantPhoto{
    width: 100%;
    height: 100%;

}

.content .contestantWrapper .contestant .order{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 6.5rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    background: rgba(109, 109, 110, 0.5);
    text-align: center;

}

.content .contestantWrapper .contestant .voteWrapper{
    width: 100%;
    height: 12rem;
    position: absolute;
    bottom: 0;
    background-color: #393a9b;
}

.content .contestantWrapper .contestant .orderNum{
    display: inline-block;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 3.5rem;
    line-height:3.5rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.content .contestantWrapper .contestant .orderNum .face{
    display: inline-block;
    width:2rem;
    height: 2rem;
    background: #000;
    margin-right:0.2rem;
}

.content .contestantWrapper .contestant .voteBtn{
    display: inline-block;
    width: 23rem;
    height: 5rem;
    line-height:5rem;
    margin-left:2rem;
    background-color: #fff;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    border-radius: 1rem;
    margin-top:3.5rem;
    font-size: 2rem;
    text-align: center;
}

.content .contestantWrapper .contestant .orderNum{
    display: inline-block;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 3.5rem;
    line-height:3.5rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.content .contestantWrapper .contestant .voteBtn .star{
    display: inline-block;
    width:2rem;
    height: 2rem;
    background: #000;
    margin-right:0.2rem;
}